*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}
header h2{
    font-size: 2vw;
}
header a{
    text-decoration: none;
    color: black;
}
header li{
    list-style: none;
    display: inline;
    padding: 5px;
    margin: 1vw 2vw;
    font-family: Garamond;
    font-weight: 400;
    font-size: 2vh;
}
.menu{
    display: flex;
    align-items: center;
    margin-left: 4vw;
}
.menus{
    display: none;
}
.none{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(159, 159, 159);
    height: 9vh;
}
.icons img{
    width: 2vw;
    margin: 1vw 2vw;
}
.icons a{
    width: 2vw;
}
.icons{
    margin-right: 4vw;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(159, 159, 159);
    box-sizing: border-box;
    height: 80vh;
}
.card-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(159, 159, 159);
    box-sizing: border-box;
    height: 50vh;
}


.road-img img{
    width: 50vw;
    height: 80vh;
    
}
p , h1 , h2 , h3 , h4 , span , label{
    font-family: Garamond;
}
.road{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    margin: 0 3vw;
    box-sizing: content-box;
}
.road h1{
    font-size: 3vw;
    font-weight: 500;
}
.road p{
    font-size: 1.5vw;
    margin: 1.5vw 0;
}
.road .small-p{
    font-size: 1.3vw;
    color: rgba(34, 34, 34, 0.692);
}
.road button{
    background-color: white;
    color: silver;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 5px;
    padding: 1vw 2vw;
    cursor: pointer;
}
.story{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    margin: 0 30px;
    box-sizing: content-box;

}
.story h2{
    font-size: 2vw;
    font-weight: 300;
}

.story p{
    font-size: 1.2vw;
    margin: 1vw 0;
}
.story .small-p{
    font-size: 1vw;
    color: rgba(34, 34, 34, 0.692);
}
.story button{
    background-color: white;
    color: silver;
    border: 1px solid rgb(142, 142, 142);
    border-radius: 5px;
    padding: 1vw 2vw;
    cursor: pointer;
}
.card-img img{
    width: 33vw;
    height: 50vh;
    
}



.gallery h3{
    text-align: center;
    padding: 2vw;
    margin-bottom: 3vw;
    
}

.gallery-img{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 40vh;
    margin-top: 25px;
    position: relative;
    
}
.gallery-img div{
    display: flex;
}
.gallery h3{
    font-size: 2vw;
    font-weight: 300;
    margin: 4vw 0;
}
.text{
    opacity: 0;
    position: absolute;
    top: 30%;
    color: white;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
    align-items: center;
    
}
.text h2{
    text-align: center;
    font-size: 1.3vw;
    margin: 0;
    padding: 0.5vw;
}
.text p{
    font-size: 1vw;
    margin: 0;
    padding: 0.5vw
}
.text button{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    font-weight: 500;
    margin: 1vw;
    padding: 1vw;
    font-size: 1vw;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 5vw;
   
}
.card-hover:hover .text{
opacity: 1;
}
.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features h2{
    margin: 4vw 0;
    font-size: 2vw;
    font-weight: 500;
}

.features-grid{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.features-grid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.features-grid h4{
    font-size: 1.5vw;
    
}
.features-grid p{
    width: 70%;
    margin: 0 0 2vw 0;
    font-size: 1vw;
}
.features-grid img{
    width: 4vw;
    margin: 3vw 0;
}
.features-grid div:nth-child(1){
    border-bottom: 2px solid silver;
    border-right: 2px solid silver;
}
.features-grid div:nth-child(2){
    border-bottom: 2px solid silver;
    border-right: 2px solid silver;
}
.features-grid div:nth-child(3){
    border-bottom: 2px solid silver;
    border-right: 2px solid silver;
}
.features-grid div:nth-child(4){
    
    border-right: 2px solid silver;
}
.features-grid div:nth-child(5){
    
    border-right: 2px solid silver;
}
.features-grid div:nth-child(6){
    
    border-right: 2px solid silver;
}

.write-to-us{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.write-to-us h2{
    margin: 4vw;
    font-size: 2vw;
}
.write-to-us form{
    width: 80vw;
}
.write-to-us .first{
    display: flex;
    justify-content: space-between;
}
.first input{
    border-radius: 4px;
    border: 2px solid silver;
    width: 24vw;
    height: 4vh;
}
.first p{
    margin: 0.5vw 0;
    font-size: 1.3vw;
}
.second{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    align-items: center;
    margin: 2vw 0;
}
.second input{
    margin: 0 2vw;
}
.second p{
    font-size: 1.3vw;
}

.third{
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
}
.third p{
    margin-bottom: 1vw;
    font-size: 1.3vw;
}

.third select{
    border-radius: 4px;
    border: 2px solid silver;
    height: 4vh;
    font-family: Garamond;
    font-weight: 500;
    font-size: 1vw;
}
.massage{
    display: flex;
    flex-direction: column;
}
.massage p{
    font-size: 1.3vw;
    margin-bottom: 1vw;
}
.massage textarea{
    border-radius: 4px;
    border: 2px solid silver;
    font-family: Garamond;
    font-weight: 500;
    font-size: 1.2vw;

}

.rodot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw 0;
    align-items: center;
}
.rodot div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rodot p{
    margin-left: 1vw;
}
.send{
    border: 2px solid silver;
    border-radius: 4px;
    width: 6vw;
    height: 5vh;
    background-color: white;
    color: rgb(149, 149, 149);
    cursor: pointer;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 5vw 0;
}
footer div{
    border: 1px solid rgb(65, 65, 65);
    border-radius: 100%;
    overflow: hidden;
    padding: 1vw;
    cursor: pointer;
    margin: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vw;
    
}
footer img{
    width: 2vw;
}

.IN{
    text-align: center;
    margin-bottom: 2vw;
}

@media screen and (max-width: 850px) {
    .icons img{
        display: none;
    }
    .road h1{
        font-size: 5vw;
    }
    .road p{
        font-size: 2vw;
    }
    .story h2{
        font-size: 4vw;
    }
    .story p{
        font-size: 2vw;
    }
    .gallery h3{
        font-size: 4vw;
    }
    .card-hover:nth-child(3){
        display: none;
    }
    .card-hover:nth-child(4){
        display: none;
    }
    .text h2{
        font-size: 2.5vw;
    }
    .text p{
        font-size: 1.5vw;
    }
    .text button{
        width: 10vw;
    }
    .text{
        margin-left: 5vw;
    }
    .features h2{
        font-size: 4vw;
    }
    .features-grid{
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
    }
    .features-grid div:nth-child(1){
        border-bottom: 2px solid silver;
        border-right: 2px solid silver;
    }
    .features-grid div:nth-child(3){
        border-bottom: 2px solid silver;
        border-right: 2px solid silver;
    }
    .features-grid div:nth-child(5){
        border-bottom: 2px solid silver;
        border-right: 2px solid silver;
    }
    .features-grid div:nth-child(2){
        border-right: 0;
        border-bottom: 2px solid silver;
    }
    .features-grid div:nth-child(4){
        border-right: 0;
        border-bottom: 2px solid silver;
    }
    .features-grid div:nth-child(6){
        border-right: 0;
        border-bottom: 2px solid silver;
    }
    .write-to-us h2{
        font-size: 4vw;
        font-weight: 500;
    }
    .write-to-us p{
        font-size: 2vw;
    }
    .third select{
        font-size: 2vw;
    }
    .send{
        width: 12vw;
    }

}


@media screen and (max-width: 600px){
    .menu{
        display: none;
    }
    .none{
        display: block;
        font-size: 4vw;
    }
    header{
        display: flex;
        justify-content: space-around;
        position: sticky;
        top: 0;
        background-color: white;
        
    }
    .menus{
        display: block;
        
    }
    .menus img{
        width: 5vw;
        cursor: pointer;
    }
    
    .card{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 33vw;
        border: 0;
        height: 100vh;
    }
    .card img{
        width: 100vw;
       
    }
    .road{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 10vw;
        margin-bottom: 10vw;
    }
    .road h1{
        font-size: 8vw;
    }
    .road p{
        font-size: 3vw;
    }
    .road .small-p{
        font-size: 2vw;
    }
    .road button{
        width: 18vw;
        height: 5vh;
    }
    .card-one{
        display: flex;
        flex-direction: column;
        border: 0;
        height: 100vh;
        margin-bottom: 10vw;
    }
    .card-one img{
        width: 100vw;
    
    }
    .card-one h2{
        font-size: 8vw;
        margin: 4vw 0;
    }
    .card-one p{
        font-size: 3vw;
    }
    .card-one .small-p{
        font-size: 2vw;
    }
    .card-one button{
        width: 18vw;
        height: 5vh;
    }
    .card-two{
        display: flex;
        flex-direction: column-reverse;
        border-bottom: 1px solid silver;
        padding-bottom: 50px;
        
    }
    .card-hover:nth-child(2){
        display: none;
        
    }
    
    .gallery-img{
        max-width: 400px;
    }
    .gallery-img img{
        width: 100vw;
    }
    .text button{
        width: 20vw;
        height: 5vh;
        font-size: 2vw;
    }
    .gallery-img h2{
        font-size: 5vw;
    }
    .gallery-img p{
        font-size: 3vw;
    }
    .gallery h3{
        font-size: 5vw;
    }
    .text{
        margin-left: 90px;
    }
    .features-grid{
        display: grid;
        grid-template-columns:repeat(1,1fr) ;
    }
    .features-grid div:nth-child(1){
        border-bottom: 2px solid silver;
        border-right: 0px solid silver;
    }
    .features-grid div:nth-child(3){
        border-bottom: 2px solid silver;
        border-right: 0px solid silver;
    }
    .features-grid div:nth-child(5){
        border-bottom: 2px solid silver;
        border-right: 0px solid silver;
    }
    .features-grid div:nth-child(2){
        border-right: 0;
        border-bottom: 2px solid silver;
    }
    .features-grid div:nth-child(4){
        border-right: 0;
        border-bottom: 2px solid silver;
    }
    .features-grid div:nth-child(6){
        border-right: 0;
        border-bottom: 2px solid silver;
    }
    .features-grid img{
        width: 7vw;
    }
    .features-grid h4{
        font-size: 4vw;
    }
    .features-grid p{
        font-size: 2vw;
    }
    .first{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .first input{
        width: 80vw;
    }
    .write-to-us h2{
        font-size: 5vw;
    }
    .write-to-us p{
        font-size: 2.5vw;
    }
    .write-to-us select{
        font-size: 2.5vw;
    }

}
